* {
    box-sizing: border-box;
   
  }

  body
  h1 {font-style: unset;}
  h1 {font-weight: bolder;}
  h1 {font-family: cursive;}
  h1 {color: rgb(22, 148, 5);}
  h2 {text-shadow: -3px 2px 1px rgba(22,255,37,0.75);}

    
  body {
        background: #E30000;
        background: -moz-linear-gradient(45deg, #E30000 0%, #2D2ECC 50%, #000000 100%);
        background: -webkit-linear-gradient(45deg, #E30000 0%, #2D2ECC 50%, #000000 100%);
        background: linear-gradient(45deg, #E30000 0%, #2D2ECC 50%, #000000 100%);
        }

  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 8px -16px;
  }
  

  .row,
  .row > .column {
    padding: 8px;
  }
  

  .column {
    float: left;
    width: 25%;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .content {
    background-color:rgb(6, 1, 75);
    padding: 10px;
  }
  a {color:yellow;}
  a:hover {color:red;}
  a:visited {color:#000000}